* {
  font-family: monospace;
}

html {
  background: #FFEEEE;
}

body {
  height: 100vh;
  display: flex;
  justify-content: normal;
  align-items: center;
  flex-direction: column;
}

.hor {
  flex-direction: row;
}

img {
  box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
  border-radius: 1em;
}

.featured {
  margin: 10px auto;
  width: 400px;
}

h1 {
  font-size: 3em;
}

.header {
  max-width: 512px;
  display: flex;
  align-items: center;
  flex-direction: column;
}


.content {
  margin: 0px 80px;
  max-width: 512px;
  font-size: 1.1em;
  line-height: 1.5em;
}

.links {
  font-weight: bolder;
}

h2 {
  font-size: 2em;
  margin-block-end: 0em;
}

h3 {
  font-size: 1.5em;
  margin-block-end: 0em;
}

h4 {
  font-size: 1.2em;
  margin: 0.1em 0em;
}

hr {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

body::-webkit-scrollbar {
  width: 28px;
}

body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(195,84,255,0.3);
  border-radius: 50px;
  border: 10px solid #FFEEEE;
}

a, a:visited {
  color: rgb(195,84,255);
}
a:hover {
  color: rgb(176,74,232);
}
a:active {
  color: rgb(101,44,133);
}
